rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /users/{userId} {
      allow read, write: if request.auth != null && request.auth.uid == userId;
    }
    match /survey_responses/{responseId} {
      allow read, create: if true;
    }
    match /survey_settings/{settingId} {
      allow read, write: if true;
    }
    match /taetigkeitsberichte/{reportId} {
      allow read, write: if true;
    }
    match /cookie_consents/{consentId} {
      allow create, read: if true;
    }
  }
}